aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.0
arcgis==1.8.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.2
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cli-helpers==2.3.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
comm==0.1.3
configobj==5.0.8
contourpy==1.0.7
cryptography==36.0.2
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
executing==1.2.0
fastjsonschema==2.17.1
Fiona==1.9.4.post1
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
geopandas==0.13.0
idna==3.4
imageio==2.28.1
import-ipynb==0.1.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.14
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.22.1
jupytext==1.14.5
keyring==23.13.1
kiwisolver==1.4.4
lazy_loader==0.2
lerc==4.0.1
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune==2.0.5
more-itertools==9.1.0
multidict==6.0.4
mycli==1.26.1
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
osmnx==1.3.1.post0
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
pigar==2.0.7
Pillow==9.5.0
pipreqs==0.4.13
platformdirs==3.5.1
prometheus-client==0.17.0
prompt-toolkit==3.0.38
psutil==5.9.5
pure-eval==0.2.2
pyaes==1.6.1
pycparser==2.21
Pygments==2.15.1
PyMySQL==1.0.3
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
pyproj==3.5.0
pyrsistent==0.19.3
pyshp==2.3.1
pyspnego==0.9.0
python-certifi-win32==1.6.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.0
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
requests-kerberos==0.14.0
requests-negotiate-sspi==0.5.2
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scikit-image==0.20.0
scikit-learn==1.2.2
Send2Trash==1.8.2
setuptools-scm==7.1.0
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
sqlglot==11.5.7
sqlparse==0.4.4
stack-data==0.6.2
tabulate==0.9.0
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
toml==0.10.2
tornado==6.3.2
traitlets==5.9.0
typing_extensions==4.6.2
tzdata==2023.3
ujson==5.7.0
uri-template==1.2.0
urllib3==2.0.2
vboxapi==1.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.2
widgetsnbextension==4.0.7
winkerberos==0.9.1
wrapt==1.15.0
yarg==0.1.9
yarl==1.9.2
zipp==3.15.0
